<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean class="com.learnSpring.autowire.Address" name="address" p:city="indore" p:state="madhypradesh" p:street="2" />
		<!-- <bean class="com.learnSpring.autowire.Address" name="address1"  >
		 <constructor-arg name="city" value ="bhopal"/>
		 <constructor-arg name="street " value="5"/>
		 <constructor-arg name="state" value="uttarakhand"/>
		 </bean>
 -->		 
	<bean class="com.learnSpring.autowire.Emp" name ="Emp" autowire="constructor"/>
	</beans>